#survey-form {
  background-color: rgba(27, 27, 50, 0.8);
  padding: 30px;
  border-radius: 5px;
}

.field:not(:last-child) {
  margin-bottom: 20px;
}

.label {
  display: block;
}

.label:not(:last-child) {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 300;
}

.control {
  box-sizing: border-box;
  text-align: left;
  
  label {
    display: block;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  
  select {
    height: 35px;
    font-size: 15px;
  }

  textarea {
    min-height: 120px;
    font-size: 15px;
    width: 100%;
    resize: vertical;
    padding: 10px;
  }
}

.input {
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  height: 40px;
  padding: 10px;
  font-size: 15px;
}

button {
  width: 100%;
  border-radius: 5px;
  height: 50px;
  background-color: yellowgreen;
  font-size: 25px;
}
