.is-centered {
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 50px 0;

  h1 {
    margin-bottom: 10px;
  }
}

.is-lg {
  font-size: 30px;
}

.is-md {
  font-size: 20px;
}

.is-primary {
  color: whitesmoke;
}
